@use "../../variables" as v;

.button {
  background-color: v.$highlight-color;
  width: 14rem;
  height: 4rem;
  border: none;
  border-radius: 50px;
  font-size: 1.4rem;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: v.$viewport-size-medium) {
  .button {
    width: 10.5rem;
    height: 3rem;
    font-size: 1.05rem;
  }
}
