@use "../../variables" as v;

.button {
  background-color: v.$highlight-color;
  width: 14rem;
  height: 4rem;
  border: none;
  border-radius: 50px;
  font-size: 1.4rem;
}

.button:hover {
  cursor: pointer;
}
