@use "../../variables" as v;

.details-section {
  background-color: v.$background-color-dark;
  color: v.$text-color;
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1.75rem 0 0.75rem 0;
  }

  p {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
}

@media (max-width: v.$viewport-size-medium) {
  .summary {
    h2 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
