@use "../../variables" as v;

.hamburger-btn-container {
  // achieves appropriate centering of hamburger button
  height: 100%;
  padding-top: 6px;
  padding: 0.1rem 1rem;
}

.hamburger-btn {
  padding: 0.4rem 1rem 0.1rem 1rem;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 3rem;
  color: v.$highlight-color;
}

@media (max-width: v.$viewport-size-medium) {
  .hamburger-icon {
    font-size: 2.25rem;
  }
}

@media (max-width: v.$viewport-size-small) {
  .hamburger-icon {
    font-size: 2rem;
  }
}
