@use "../../variables" as v;

.hamburger-btn-container {
  // achieves appropriate centering of hamburger button
  height: 100%;
  padding-top: 6px;
}

.hamburger-btn {
  font-size: 3rem;
  color: v.$highlight-color;
}
