.hero-section {
  position: relative;
}

.hero-img-container {
  background-image: url("../../media/hex.jpg");
  background-size: cover;
  background-position: right;
  height: 95vh;
  max-height: 95vh;
  overflow: hidden;
  filter: brightness(30%);
}
