@use "../../variables" as v;

.bars {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: end;
}

@media (max-width: 1350px) {
  .bars {
    height: 60%;
  }
}

@media (max-width: v.$viewport-size-very-small) {
  .bars {
    height: 55%;
  }
}
