@use "../../variables" as v;

.table {
  font-size: 1.75rem;
  border-collapse: collapse;
  border-style: hidden;

  opacity: 0;
  transform: rotateY(-91deg);
  transition: transform 1000ms ease, opacity 1000ms ease-out;

  tr {
    border: 2px solid v.$highlight-color;
  }
  th,
  td {
    border-right: 2px solid v.$highlight-color;
    padding: 0.5rem;
    font-weight: 500;
  }
}

.transition-active {
  opacity: 1;
  transform: rotateY(0);
}

@media (max-width: v.$viewport-size-medium) {
  .table {
    font-size: 1.15rem;
  }
}
