.nav-bar {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
  padding: 0.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(128, 128, 128);
  background-color: black;
}
