@use "../../variables" as v;

.expanded-nav-bar {
  position: fixed;
  right: 0;
  width: 20rem;
  height: 100vh;
  z-index: 1000;
  color: v.$text-color;
  text-align: right;
  background-color: v.$background-color;
  border-left: 1px solid rgb(180, 180, 180);

  a {
    color: v.$text-color;
  }

  a:hover {
    div {
      background-color: v.$background-color-lighter;
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: start;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  li {
    text-align: start;
    font-size: 1.5rem;

    a {
      display: block;
      padding: 0.5rem 2.5rem;
    }
  }

  li:hover {
    background-color: v.$background-color-lighter;
  }
}

.home {
  padding: 1rem 1.6rem;
}

.divider-line {
  height: 1px;
  width: 270px;
  background-color: v.$text-color;
  margin: auto;
}

.algorithms {
  user-select: none;
  padding: 1rem 1.6rem;
}

.icons {
  font-size: 3rem;
  color: v.$highlight-color;
}
