@use "../../variables" as v;

.expanded-nav-bar {
  position: fixed;
  right: 0;
  width: 20rem;
  height: 100vh;
  z-index: 1000;
  color: rgb(180, 180, 180);
  text-align: right;
  background-color: v.$background-color-light;
  border-left: 1px solid rgb(180, 180, 180);
}

.icons {
  font-size: 3rem;
}
