@use "../../variables" as v;

.expanded-nav-bar {
  position: fixed;
  right: 0;
  width: 20rem;
  height: 100vh;
  text-align: center;
  z-index: 1000;
  color: v.$text-color;
  background-color: v.$background-color-darker;

  a {
    color: v.$text-color;
  }

  a:hover {
    div {
      background-color: v.$background-color-lightest;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
}

.categories {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: start;
  padding: 1rem 1.6rem;
}

.divider-line {
  height: 1px;
  width: 270px;
  background-color: v.$text-color;
  margin: auto;
}

.algorithms {
  user-select: none;
}

.icons {
  font-size: 3rem;
  color: v.$highlight-color;
}

.close-btn-container {
  margin-top: 4rem;
}
