@use "../../variables" as v;

.footer {
  margin: 3rem 0;
  color: v.$text-color;

  article {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-bottom: 3rem;

    p {
      font-size: 1.3rem;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 2rem;
    color: v.$highlight-color;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.margin-top {
  margin-top: 0.6rem;
}

.github-icon {
  color: v.$text-color;
  font-size: 2.5rem;
}

.copyright-text {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}
