@use "../../variables" as v;

.footer {
  margin: 3rem 0;
  color: v.$text-color;

  article {
    display: flex;
    justify-content: center;
    gap: 20vw;
    margin-bottom: 3rem;

    p {
      font-size: 1.3rem;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 2rem;
    color: v.$highlight-color;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: v.$text-color;
  }
}

.margin-top {
  margin-top: 0.7rem;
}

.icon {
  color: v.$text-color;
  width: 40px;
  height: 40px;
}

.copyright-text {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

@media (max-width: v.$viewport-size-medium) {
  .footer {
    h2 {
      font-size: 1.5rem;
    }

    article {
      gap: 14vw;
      p {
        font-size: 1rem;
      }
    }
  }

  .copyright-text {
    font-size: 0.9rem;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}
