@use "../../variables" as v;

.algorithm {
  text-align: start;
  font-size: 1.5rem;

  transition: background-color 200ms ease;
}

.algorithm:hover {
  background-color: v.$background-color-lightest;
}

.link {
  display: block;
  padding: 0.5rem 2.5rem;
}
