@use "../../variables" as v;

.algorithm {
  text-align: start;
  font-size: 1.5rem;
}

.algorithm:hover {
  background-color: v.$background-color-lighter;
}

.link {
  display: block;
  padding: 0.5rem 2.5rem;
}
