@use "../../variables" as v;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 7px;
  font-size: 3rem;
  background-color: v.$background-color-lighter;
  color: v.$text-color;

  transition: all 200ms ease-in-out;

  &:hover {
    background-color: v.$background-color-light;
    font-size: 3.25rem;
    cursor: pointer;
  }
}

@media (max-width: v.$viewport-size-small) {
  .btn {
    height: 50px;
    width: 50px;
    font-size: 2.5rem;
  }
}
