@use "../../variables" as v;

.implementation-section {
  font-size: 1.2rem;
  font-weight: 600;

  pre {
    padding: 2rem 2rem 2.5rem 2rem;
    min-height: 500px;
    min-width: 650px;
    width: fit-content;
    margin-top: 0.5rem;
    border: 2px solid v.$highlight-color;
    border-radius: 12px;

    span {
      display: flex;
    }
  }
}

.implementation {
  opacity: 0;
  transition: all 1000ms ease;
  margin-left: -200px;
}

.transition-active {
  opacity: 1;
  margin-left: 0;
}

@media (max-width: v.$viewport-size-medium) {
  .implementation-section {
    font-size: 0.84rem;
  }
}
