@use "../../variables" as v;

.implementation-section {
  font-size: 1.2rem;
  font-weight: 600;

  pre {
    padding: 2rem 0 2.5rem 2rem;
    min-height: 500px;
    max-width: 650px;
    margin-top: 0.5rem;
    border: 2px solid v.$highlight-color;
    border-radius: 12px;

    span {
      display: flex;
    }
  }
}

@media (max-width: v.$viewport-size-medium) {
  .implementation-section {
    font-size: 0.84rem;
  }
}
