@use "../../variables" as v;

.implementation-section {
  font-size: 1.2rem;
  font-weight: 600;

  pre {
    min-height: 500px;
    max-width: 850px;
    margin-top: 0.5rem;
    border: 2px solid v.$highlight-color;
    border-radius: 12px;
  }
}
