@use "../../variables" as v;

.slider-section {
  color: v.$text-color;
  margin-left: 2rem;
  text-align: center;

  h3 {
    font-size: 1.5rem;
  }
}

.slider {
  width: 500px;
  height: 6px;
  background-color: v.$text-color;
}
