$background-color-darker: rgb(12, 12, 12);
$background-color-dark: rgb(16, 16, 16);
$background-color: rgb(24, 24, 24);
$background-color-light: rgb(32, 32, 32);
$background-color-lighter: rgb(80, 80, 80);
$text-color: rgb(192, 192, 192);
$highlight-color: rgb(219, 114, 16);
$viewport-size-medium: 700px;
$viewport-size-small: 520px;
$viewport-size-very-small: 420px;
